# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
.pnpm-home

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Node
node_modules
dist
coverage
.turbo
.vite
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example
